#page {
	padding:0 10px;
}

#explanation {
	border:1px solid #ccc;
	padding:20px;
}

.code {
	font-family:Courier, monospace;
}

#sandbox {
	margin:20px auto;
	border:1px solid #ccc;
	width:800px;
	height:600px;
	position:relative;
	background:#eee;
}
#target {
	position:absolute;
	left:50%;
	top:50%;
}

#slider-container {
	width:800px;
	margin:0 auto;
}

#slider-rail {
	margin:10px 10px 0;
	width:200px;
	display:inline-block;
}
/*
#slider {
	width:10px;
	height:30px;
	margin-top:-10px;
	border:1px solid #000;
	background-color:#eee;
	cursor:pointer;
}
*/